<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="TrustedKey" stopProcessing="true">
          <match url="^IdentityManager/request"/>
          <action redirectType="Temporary" type="Redirect" url="http://www.trustedkey.com/"/>
        </rule>
        <rule name="Fincova" stopProcessing="true">
          <match url="^$"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^fincova\.enuma\.io$"/>
          </conditions>
          <action redirectType="Temporary" type="Redirect" url="https://fincova.enuma.io/demo.html"/>
        </rule>
        <!-- force https -->
        <rule name="Canonical Host Name" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^enuma\.io$"/>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action redirectType="Permanent" type="Redirect" url="https://www.enuma.io/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <!-- required for apple-app-site-association: -->
      <mimeMap fileExtension="." mimeType="application/json"/>
    </staticContent>
  </system.webServer>
</configuration>