<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
	<rewrite>
		<rules>
			<rule name="Fincova" stopProcessing="true">
				<match url="^$" />
				<conditions>
					<add input="{HTTP_HOST}" pattern="^fincova\.enuma\.io$" />
				</conditions>
				<action type="Redirect" url="https://fincova.enuma.io/demo.html" redirectType="Temporary" />
			</rule>
			<rule name="Canonical Host Name" stopProcessing="true">
				<match url="(.*)" />
				<conditions logicalGrouping="MatchAny">
					<add input="{HTTP_HOST}" pattern="^enuma\.io$" />
					<add input="{HTTPS}" pattern="^OFF$" />
				</conditions>
				<action type="Redirect" url="https://www.enuma.io/{R:1}" redirectType="Permanent" />
			</rule>
		</rules>
	  </rewrite>
	  <staticContent>
      	    <!-- required for apple-app-site-association: -->
      	    <mimeMap fileExtension="." mimeType="application/json" />
    	  </staticContent>
  </system.webServer>
</configuration>
