html, body {
    height: 100%;
    margin: 0;
}

input,
select,
textarea {
    max-width: 280px;
}

    /* retina issue */
    input[type="text"] {
        -webkit-appearance: none;
    }

label {
    padding: 3px;
}

a {
    outline: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

    a:focus {
        outline: none;
        text-decoration: none;
    }

/* dropdown search height*/
.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

/* no border on focus */
:focus {
    outline: none;
}

.hide {
    display: none;
}

.smallComment {
    font-size: 0.8em;
    color: grey;
}

.selected {
    color: gold !important;
}

.center {
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

/* to center a div inside another div, add centered to child div and parentcentered to parent div*/
.parentcentered {
    position: absolute;
    left: 50%;
}

.centered {
    position: relative;
    left: -50%;
}


/* top menu bar */
#siteMenuBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    margin-top: -27px;
    z-index: 100;
    display: none;
}

    #siteMenuBar > #menuContainer {
        width: 100%;
        height: 25px;
        text-align: center;
        border: 0px;
        /*padding-left: 10px;
	padding-right: 10px;*/
    }

    #siteMenuBar ul {
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;

        font-size: 0.9em;
        background-color: black;
        color: white;
    }

    #siteMenuBar li {
        display: inline-block;
        margin: 0;
        padding: 0 5px 0 5px;
        margin-right: 10px;
    }

    #siteMenuBar li label, #siteMenuBar li a {
        padding: 0;
        font-weight: initial;
        color: gold;
    }

/* - side menus related ------------------*/

@media (min-width: 1000px) {
    html, body {
        overflow: hidden;
    }

    /* - main container from _Layout.cshtml */
    #maincontainer {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px; /*top: 50px;*/
        bottom: 0px;
        padding: 20px;
        overflow: auto;
    }

    /* top menu */
    #topmenu {
        margin: 0;
        max-height: 50px;
    }

    .menupanel {
        position: fixed;
        top: 0px; /*top: 50px;*/
        bottom: 0px;
        overflow: auto;
    }

    .sidebartoggle {
        position: fixed;
        top: 100px;
        width: 30px;
        height: 60px;
        color: #ccc;
        border: 1px dotted white;
        background-color: grey;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        z-index: 2;
        cursor: pointer;
    }

        .sidebartoggle:after {
            /*content: '\25AE';*/
            font-size: 30px;
        }


    #btnLeftMenu {
        left: 0px;
        border-left: 0;
        border-radius: 0px 30px 30px 0px;
        -moz-border-radius: 0px 30px 30px 0px;
        -webkit-border-radius: 0px 30px 30px 0px;
    }

        #btnLeftMenu.leftopen {
            left: 300px;
        }

        #btnLeftMenu:after {
            content: '\25BA';
        }

        #btnLeftMenu.leftopen:after {
            content: '\25C4';
        }


    #btnRightMenu {
        right: 0px;
        border-radius: 30px 0px 0px 30px;
        -moz-border-radius: 30px 0px 0px 30px;
        -webkit-border-radius: 30px 0px 0px 30px;
    }

        #btnRightMenu.rightopen {
            right: 400px;
        }

        #btnRightMenu:after {
            content: '\25C4';
        }

        #btnRightMenu.rightopen:after {
            content: '\25BA';
        }

    #leftmenu {
        width: 300px;
        left: -300px;
        border-right: 2px solid #ccc;
    }

        #leftmenu.open {
            left: 0px;
        }

    .leftopen {
        left: 300px;
    }

    #rightmenu {
        width: 400px;
        right: -400px;
        border-left: 2px solid #ccc;
    }

        #rightmenu.open {
            right: 0px;
        }

    #canvasholder {
        width: 100%;
        left: 0px;
        overflow: hidden;
    }

        #canvasholder.leftopen {
            width: calc(100% - 300px);
            left: 300px;
        }

        #canvasholder.rightopen {
            width: calc(100% - 400px);
            left: 0px;
        }

    .canvas {
        position: fixed;
        left: 0;
        z-index: 2;
        min-height: 100%;
        padding: 0px 0 0 0; /* 50px*/
        overflow: hidden;
    }
}

/* mobile devices */
@media (max-width: 1000px) {
    html, body {
        overflow: auto;
    }

    /* - main container from _Layout.cshtml */
    #maincontainer {
        padding: 40px;
        margin: 0px;
        width: 100%;
        height: 100%; /*calc(100% - 50px);*/
        overflow: auto;
    }

    /* avoid padding around canvas in /Home*/
    .nopadding {
        padding: 0px !important;
    }

    .menupanel {
        width: 100%;
        overflow: auto;
        margin-top: 50px; /* menu bar */
    }

    .sidebartoggle {
        position: fixed;
        top: 100px;
        width: 30px;
        height: 30px;
        color: #ccc;
        border: 1px dotted white;
        background-color: grey;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        z-index: 2;
        cursor: pointer;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
    }

        .sidebartoggle:after {
        }


    #btnLeftMenu {
        left: 0px;
        border-left: 0;
    }

        #btnLeftMenu.leftopen {
        }

        #btnLeftMenu:after {
        }

        #btnLeftMenu.leftopen:after {
        }


    #btnRightMenu {
        right: 0px;
    }

        #btnRightMenu.rightopen {
        }

        #btnRightMenu:after {
        }

        #btnRightMenu.rightopen:after {
        }

    #leftmenu {
        display: none;
    }

        #leftmenu.open {
            display: block;
        }

    .leftopen {
    }

    #rightmenu {
        display: none;
    }

        #rightmenu.open {
            display: block;
        }

    #canvasholder {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        #canvasholder.leftopen {
            margin-top: 0px;
        }

        #canvasholder.rightopen {
            margin-top: 0px;
        }

    .canvas {
        z-index: 2;
        overflow: hidden;
    }
}

/* hints/tooltips */
.tt {
    position: fixed;
    top: 110px;
    width: auto;
    background-color: #222222;
    color: #ccc;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    pointer-events: none; /* no mouseenter */
    z-index: 3;
    /* for proper fadeIn start */
    display: none;
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.ttl {
    left: 45px;
}

    .ttl::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        margin-top: -5px;
        margin-left: -10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #222222 transparent transparent;
    }

.ttr {
    right: 45px;
}

    .ttr::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0%;
        margin-top: -5px;
        margin-right: -10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #222222;
    }

.tttop {
    top: 10px;
    left: 40%;
}

    .tttop::after {
        content: "";
        position: absolute;
        top: 0%;
        right: 50%;
        margin-top: -10px;
        /*margin-right: -5px;*/
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #222222 transparent;
    }

/* - viewer menu ----------------*/

.logo {
    color: gold !important;
    font-size: 1.5em;
}

    .logo img {
        margin-top: -15px;
        margin-bottom: -15px;
        max-height: 48px;
    }


#labelcurrentmodel {
    color: gold;
    text-align: right;
}

#menudashboard {
    color: skyblue;
    font-size: 1.2em;
}

.sidepanelcontentholder {
    margin: 10px;
    height: auto;
}

.sidepanelcontent {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.sidepaneltitlebar {
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 100;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.panelcontentholder {
    height: 100%;
    display: none;
}

.panelcontent {
    overflow: auto;
    width: 100%;
    height: 100%;
}

/*- panel sections ----------------------*/
/*
table.table {
    table-layout: fixed;
    word-wrap: break-word;
    white-space: normal;
}
table.edittable tr th {
    background-color: #efefef;
    white-space: normal;
    font-weight: normal;
}

table.edittable tr td {
    white-space: normal;
}

table.edittable tr th.c1 {
    width: 2%;
}

table.edittable tr td {
    background-color: #efefef;
}

    table.edittable tr td.editable {
        background-color: white;
    }

        table.edittable tr td.editable span {
            font-style: italic;
            color: #aaa;
        }
*/
/* title inside a panel*/
.panelmenutitle {
    width: 100%;
    font-weight: 800;
    margin: 10px 0 10px 0;
    display: block;
}

#uploaderholder {
    display: none;
}

/* - object properties panel */
#objectpropertiesholder {
    /*display: none;*/
}

#objectproperties {
    height: calc(100% - 40px);
}

    #objectproperties > table {
        border: 0;
        font-size: 0.9em;
        width: 100%;
    }

        #objectproperties > table > tbody > tr > td.pc1 {
            width: 40%;
            font-weight: 600;
        }

        #objectproperties > table > tbody > tr > td.pc2 {
            width: auto;
        }

/* extras */
.extra_info_header {
    color: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 100;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    margin-top: 10px;
}

.extra_info_title {
    color: white;
    background-color: #4aa6ff;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.extra_info {
    color: #333;
    font-size: 0.8em;
    font-weight: normal;
    text-align: initial;
}

/* right panel */
.fm_info > table {
    border: 0;
    width: 100%;
    background-color: #f7f7f7;
    margin-bottom: 5px;
}

    .fm_info > table > tbody > tr > td.pc1 {
        width: 30%;
    }

    .fm_info > table > tbody > tr > td.pc2 {
        width: auto;
    }

        .fm_info > table > tbody > tr > td.pc2 > input {
            width: 100%;
        }

        .fm_info > table > tbody > tr > td.pc2 > label {
            font-weight: normal;
            word-wrap: break-word;
            width: 100%;
        }

.fm_tenantdirectory {
    margin-bottom: -1px; /* for hover */
}

    .fm_tenantdirectory > .pgTable {
        margin-bottom: -1px; /* for hover */
    }

.tenantremove {
}

#viewfilterholder {
    /*display: none;*/
}

#navigatorholder {
    /*display: none;*/
}

#navigator {
    padding: 10px;
}

#scenetreeholder {
    /*display: none;*/
}

#scenetree > .fancytree-container {
    border: 0;
}

.viewfilter {
    cursor: pointer;
    color: white;
    background-color: grey;
    margin: 8px;
    padding: 5px;
    text-align: center;
    font-size: 1.4em;
}

div.alignright {
    text-align: right;
}

.panelsection {
    margin: 10px;
}

.panelsectionfeedback {
    padding: 5px;
    font-size: 0.8em;
    display: inline;
    text-align: right;
    color: #00e;
}

.inline {
    display: inline;
}

#scenetree {
    height: 100%;
    border: 1px dotted #333;
}

/* project selector */

#projectSelectorHolder {
    width: 50%;
    background-color: transparent;
    top: 100px;
    font-size: 10pt;
    z-index: 3;
    display: none;
}

#projectSelectorBackground {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #23538a;
    background: -moz-linear-gradient(top, #23538a 0%, #a7cfdf 100%);
    background: -webkit-linear-gradient(top, #23538a 0%, #a7cfdf 100%);
    background: linear-gradient(to bottom, #23538a 0%, #a7cfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 );
}

#projectSelectorTitle {
    text-align: center;
    color: white;
}

    #projectSelectorTitle .maintitle {
        font-size: 2em;
        font-size: 2vw;
    }

    #projectSelectorTitle .subtitle {
        font-size: 1.5em;
        font-size: 1.5vw;
    }

.projectItem {
    text-align: center;
    cursor: pointer;
    background-color: #0c4677;
    font-size: 2em;
    font-size: 2vw;
    color: white;
    margin: 5px 100px;
    border-radius: 10px;
    padding: 5px;
}

.levelItem {
    margin: 5px;
    background-color: #2470b1;
    border-radius: 10px;
    font-size: 1.5em;
    font-size: 1.5vw;
}

.projectListItem {
    text-align: center;
    cursor: pointer;
    background-color: #0c4677;
    color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}


/* title */
#projecttitleHolder {
    bottom: 30px;
}

#projecttitle {
    pointer-events: none; /* no mouseenter */
    text-align: center;
    cursor: pointer;
    background-color: #0c4677;
    color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 5px 20px;
    z-index: 3;
    display: none;
}

#footerHolder {
    bottom: 10px;
    z-index: 3;
}

.footer {
    color: #23538a;
    font-size: 0.8em;
}

    .footer a {
        color: #23538a;
    }

.footerlogo {
    height: 32px;
    margin: 0px 5px 0px 5px;
}
/* - model download progress bar ----------------*/

#progressBarHolder {
    width: 50%;
    background-color: transparent;
    opacity: 0.85;
    top: 100px;
    font-size: 10pt;
    display: none;
    z-index: 3;
}

#progressLoadmsg {
    text-align: center;
}

#progressLoadCancel {
    text-align: center;
    color: #428bca;
    cursor: pointer;
}

/* - general tree table items --------------*/
th, td {
    width: 1px;
    white-space: nowrap;
}

.tmLink {
    cursor: pointer;
    color: blue;
}

.tmButton {
    cursor: pointer;
    color: grey;
    font-size: 0.8em;
    margin: 5px;
}

.tmButtonRemove {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 5px;
    opacity: 0.5;
    background: url(trash.svg) center center;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.tmButtonUsers {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 5px;
    opacity: 0.5;
    background: url(users.svg) center center;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

/* - projects manager ---------------------*/
#projectsmanagercontent {
    height: auto;
    overflow: auto;
}

#projecttree {
    width: 99%;
}

    #projecttree th {
        text-align: center;
        background-color: grey;
        color: white;
    }

.fancytree-edit-input {
    width: 100%;
}

#addProjectLevelMenu {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

/* - FM -------------------*/

#fm_search {
}

    #fm_search input {
        width: 100%;
        max-width: 100%;
    }

    #fm_search a {
        font-weight: 600;
        display: block;
    }

#fm_search_fb {
}

    #fm_search_fb a {
        cursor: pointer;
        float: right;
        margin: 0;
    }

#fm_objectinfo_save, #fm_tenantinfo_save {
    text-align: right;
    margin: 0px;
    margin-top: 5px;
}

.fm_export {
    width: 100%;
    padding: 10px 0;
    display: inline-flex;
}

    .fm_export > span {
        text-align: right;
        width: 100%;
        line-height: 30px;
        font-weight: 600;
    }

.exportbutton {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    opacity: 1;
    background: url(export.svg) center center;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

.roomsrow {
    cursor: pointer;
}

.roomscolor {
    width: 15px;
    height: 15px;
}

.tenantcolor {
    width: 15px;
    height: 15px;
}

.evo-pointer {
    float: left;
}

.date {
    width: 100px !important;
}
/* - tenants manager ---------------------*/
/*
#cmbTenantList {
    margin: 10px;
}

#tenantseditorholder {
    width: 100%;
}

#tenantseditor {
}

#tenantseditortree {
    margin: 0 0 20px 0;
    width: 99%;
}

    #tenantseditortree th {
        text-align: center;
        background-color: grey;
        color: white;
    }

#roomselectorholder {
    display: none;
    width: 95%;
}

#roomselector {
}

#tenanteditorroomstree {
    margin: 20px 0 20px 0;
    width: 100%;
}

    #tenanteditorroomstree th {
        text-align: center;
        background-color: grey;
        color: white;
    }
    
#btnProfileSave {
    margin: 10px auto;
    text-align: center;
    display: block;
}
    
*/

.tmButtonProfile {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 5px;
    opacity: 0.5;
    background: url(profile.svg) center center;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

/* - file upload progress bar ---------------*/
#progressBarHolderUpload {
    background-color: transparent;
    width: 100%;
    height: 20px;
    opacity: 0.85;
    font-size: 10pt;
    display: none;
}

#progressUploadmsg {
    text-align: center;
}

#progressUploadCancel {
    text-align: center;
    color: #428bca;
    cursor: pointer;
}

/* Display panel left */
#autozoom {
    margin-left: 30px;
}

#annholder {
    position: relative;
}

.annotext {
    pointer-events: none; /* no mouseenter */
    color: black;
    font-size: 1em;
    font-size: 1.1vw;
    float: left;
    position: absolute;
    z-index: 3;
    width: auto;
    border: 1px dotted #333;
    background-color: #ccc;
    /*background: url(../images/annline.png) no-repeat left;*/
}

    .annotext p {
        margin: 4px;
        /*text-shadow: 1px 1px 0 #24468F;*/
        pointer-events: none;
    }

.anngreenwhite {
    background-color: #298a6b;
    color: white;
    border: 1px solid white;
}

/* debug panel */
.dg.ac {
  top: 32px!important;
}