h1.color-secondary,h2.color-secondary,h3.color-secondary,h4.color-secondary,h5.color-secondary,h6.color-secondary,.h1.color-secondary,.h2.color-secondary,.h3.color-secondary,.h4.color-secondary,.h5.color-secondary,.h6.color-secondary{color:#16a3fe}h1.color-primary,h2.color-primary,h3.color-primary,h4.color-primary,h5.color-primary,h6.color-primary,.h1.color-primary,.h2.color-primary,.h3.color-primary,.h4.color-primary,.h5.color-primary,.h6.color-primary{color:#41faa4}.theme-light h1.color-secondary,.theme-light h2.color-secondary,.theme-light h3.color-secondary,.theme-light h4.color-secondary,.theme-light h5.color-secondary,.theme-light h6.color-secondary,.theme-light .h1.color-secondary,.theme-light .h2.color-secondary,.theme-light .h3.color-secondary,.theme-light .h4.color-secondary,.theme-light .h5.color-secondary,.theme-light .h6.color-secondary{color:#16a3fe}.theme-light h1.color-primary,.theme-light h2.color-primary,.theme-light h3.color-primary,.theme-light h4.color-primary,.theme-light h5.color-primary,.theme-light h6.color-primary,.theme-light .h1.color-primary,.theme-light .h2.color-primary,.theme-light .h3.color-primary,.theme-light .h4.color-primary,.theme-light .h5.color-primary,.theme-light .h6.color-primary{color:#41faa4}h1.color-secondary,h2.color-secondary,h3.color-secondary,h4.color-secondary,h5.color-secondary,h6.color-secondary,.h1.color-secondary,.h2.color-secondary,.h3.color-secondary,.h4.color-secondary,.h5.color-secondary,.h6.color-secondary,p.color-secondary{color:#16a3fe}h1.color-primary,h2.color-primary,h3.color-primary,h4.color-primary,h5.color-primary,h6.color-primary,.h1.color-primary,.h2.color-primary,.h3.color-primary,.h4.color-primary,.h5.color-primary,.h6.color-primary,p.color-primary{color:#41faa4}h1.color-alt-primary,h2.color-alt-primary,h3.color-alt-primary,h4.color-alt-primary,h5.color-alt-primary,h6.color-alt-primary,.h1.color-alt-primary,.h2.color-alt-primary,.h3.color-alt-primary,.h4.color-alt-primary,.h5.color-alt-primary,.h6.color-alt-primary,p.color-alt-primary{color:#16a3fe}h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,p span{color:#41faa4}a{color:orangered}a:hover,a:focus,a:active{color:orangered}.theme-dark h1.color-secondary,.theme-dark h2.color-secondary,.theme-dark h3.color-secondary,.theme-dark h4.color-secondary,.theme-dark h5.color-secondary,.theme-dark h6.color-secondary,.theme-dark blockquote.color-secondary,.light h1.color-secondary,.light h2.color-secondary,.light h3.color-secondary,.light h4.color-secondary,.light h5.color-secondary,.light h6.color-secondary,.light blockquote.color-secondary{color:#16a3fe}.theme-dark h1.color-primary,.theme-dark h2.color-primary,.theme-dark h3.color-primary,.theme-dark h4.color-primary,.theme-dark h5.color-primary,.theme-dark h6.color-primary,.theme-dark blockquote.color-primary,.light h1.color-primary,.light h2.color-primary,.light h3.color-primary,.light h4.color-primary,.light h5.color-primary,.light h6.color-primary,.light blockquote.color-primary{color:#41faa4}.theme-dark h1.color-alt-primary,.theme-dark h2.color-alt-primary,.theme-dark h3.color-alt-primary,.theme-dark h4.color-alt-primary,.theme-dark h5.color-alt-primary,.theme-dark h6.color-alt-primary,.theme-dark blockquote.color-alt-primary,.light h1.color-alt-primary,.light h2.color-alt-primary,.light h3.color-alt-primary,.light h4.color-alt-primary,.light h5.color-alt-primary,.light h6.color-alt-primary,.light blockquote.color-alt-primary{color:#16a3fe}.color-primary{color:#41faa4}.color-secondary{color:#16a3fe}.bg-primary{background:#41faa4}.bg-secondary{background:#16a3fe}.bg-light-primary{background-color:rgba(65,250,164,0.1)}.bg-light-secondary{background-color:rgba(22,163,254,0.1)}.tab-custom .nav-tabs{border-bottom-color:rgba(22,163,254,0.2)}.tab-custom .nav-tabs li>a:hover{color:#41faa4}.tab-custom .nav-tabs li>a.active,.tab-custom .nav-tabs li>a.active:hover,.tab-custom .nav-tabs li>a.active:focus,.tab-custom .nav-tabs li>a.active:hover,.tab-custom .nav-tabs li>a.active:focus{border-bottom-color:#41faa4}.tab-custom-s2 .nav-tabs li>a.active,.tab-custom-s2 .nav-tabs li>a.active:hover,.tab-custom-s2 .nav-tabs li>a.active:focus,.tab-custom-s2 .nav-tabs li>a.active:hover,.tab-custom-s2 .nav-tabs li>a.active:focus{border-bottom-color:#16a3fe}.theme-light .tab-custom .nav-tabs li>a:hover{color:#41faa4}.pagination li.active a{background:#41faa4;border-color:#41faa4}.pagination li a{color:#41faa4}.pagination li a:hover,.pagination li a:focus{color:#fff;background:#41faa4;border-color:#41faa4}.navbar .navbar-nav>li:hover a{color:orangered}.navbar .navbar-nav>li>a.nav-link.active{color:orangered}.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,.navbar .navbar-nav .dropdown-menu .dropdown-item.active{color:#41faa4}.navbar .navbar-nav .dropdown-menu li:hover>a{color:#41faa4}.navbar .navbar-nav .dropdown-menu li:hover.has-children:after{border-left-color:#41faa4}.navbar .navbar-nav .dropdown-menu.active>a,.navbar .navbar-nav .dropdown-menu li>a:hover,.navbar .navbar-nav .dropdown-menu li>a:focus{color:#41faa4}.navbar .navbar-nav .dropdown-menu>.active>a,.navbar .navbar-nav .dropdown-menu>.active>a:focus,.navbar .navbar-nav .dropdown-menu>.active>a:hover{color:#41faa4}.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item.active{color:#41faa4}.theme-light .site-header .navbar-nav>li:hover a{color:orangered}.navbar-toggler{background:linear-gradient(to right, orangered 0%, orangered 100%)}.navbar-toggler:hover{background:linear-gradient(to right, orangered 0%, orangered 100%)}.btn{background-image:-webkit-linear-gradient(left, orangered 0%, orangered 100%);background-image:linear-gradient(to right, orangered 0%, orangered 100%)}.btn:before{background-image:-webkit-linear-gradient(left, orangered 0%, orangered 100%);background-image:linear-gradient(to right, orangered 0%, orangered 100%)}.btn.btn-alt{background-image:-webkit-linear-gradient(left, orangered 0%, orangered 100%);background-image:linear-gradient(to right, orangered 0%, orangered 100%)}.btn.btn-alt:before{background-image:-webkit-linear-gradient(left, orangered 0%, orangered 100%);background-image:linear-gradient(to right, orangered 0%, orangered 100%)}.btn.btn-plane{background:#16a3fe}.btn.btn-simple .fa{color:#41faa4}.play-btn .play{background-image:linear-gradient(to right, orangered 0%, orangered 100%)}.play-btn .play>span{background-image:linear-gradient(to right, orangered 0%, orangered 100%)}.play-btn-alt .fa{background:linear-gradient(to right, orangered 0%, orangered 100%)}.play-btn>span:last-of-type{color:#16a3fe}.text-block ul:not(.btns) li:before{background:orangered}.section-head .section-title span,.section-head .section-title:before{color:rgba(22,163,254,0.06)}.section-head-s2:before{background:#41faa4}.heading-animation{border-top-color:#16a3fe;border-left-color:#16a3fe}.heading-animation:before{border-top-color:#16a3fe;border-lef-colort:#16a3fe}.heading-animation:after{border-top-color:#16a3fe;border-left-color:#16a3fe}.heading-animation span:first-of-type{border-top-color:#16a3fe;border-left-color:#16a3fe}.heading-animation span:first-of-type:before{border-top-color:#16a3fe;border-left-color:#16a3fe}.heading-animation span:first-of-type:after{border-top-color:#16a3fe;border-left-color:#16a3fe}.heading-animation span:last-of-type{border-top-color:#16a3fe;border-left-color:#16a3fe}.heading-animation span:last-of-type:before{border-top-color:#16a3fe;border-left-color:#16a3fe}.heading-animation span:last-of-type:after{border-top-color:#16a3fe;border-left-color:#16a3fe}.section-connect:before{background:linear-gradient(to right, #16a3fe 0%, #41faa4 100%)}.event-info:before{background:#41faa4}.countdown-box .token-countdown .countdown-text{color:#41faa4}.countdown-box.countdown-header:after{border-color:rgba(22,163,254,0.1)}.countdown-box.countdown-header:before{border-color:rgba(22,163,254,0.1)}.countdown-box.countdown-header .extra-line{border-color:rgba(22,163,254,0.1)}.countdown-box.countdown-header .extra-line:after{border-color:rgba(22,163,254,0.1)}.io-azure .countdown-box{background:linear-gradient(to right, #16a3fe 0%, #41faa4 100%)}.roadmap-list:after{background:#16a3fe}.single-roadmap:before{background-image:-webkit-linear-gradient(top, #41faa4 0%, #16a3fe 100%);background-image:linear-gradient(top, #41faa4 0%, #16a3fe 100%)}.single-roadmap:after{background:#41faa4}.single-roadmap.roadmap-done:after{border-color:#41faa4}.single-roadmap h6{color:#16a3fe}.single-roadmap.roadmap-down:before{background-image:-webkit-linear-gradient(top, #16a3fe 0%, #41faa4 100%);background-image:linear-gradient(top, #16a3fe 0%, #41faa4 100%)}.theme-light .single-roadmap:before{background-image:-webkit-linear-gradient(top, #16a3fe 0%, #16a3fe 100%);background-image:linear-gradient(top, #16a3fe 0%, #16a3fe 100%)}.theme-light .single-roadmap:after{background:#16a3fe}.theme-light .single-roadmap.roadmap-done:after{border-color:#41faa4}.theme-light .single-roadmap.roadmap-down:before{background-image:-webkit-linear-gradient(top, #16a3fe 0%, #16a3fe 100%);background-image:linear-gradient(top, #16a3fe 0%, #16a3fe 100%)}.single-roadmap-alt:before{background-image:linear-gradient(to right, transparent 0%, #16a3fe 50%, #16a3fe 100%)}.single-roadmap-alt:after{border:1px solid #16a3fe}.single-roadmap-alt.sec-pri:before{background-image:linear-gradient(to right, #16a3fe 0%, #41faa4 100%)}.single-roadmap-alt.sec-pri:after{border-color:#41faa4}.single-roadmap-alt.sec-pri h5:before,.single-roadmap-alt.sec-pri h6:before{background:#41faa4}.single-roadmap-alt.pri-sec:before{background-image:linear-gradient(to right, #41faa4 0%, #16a3fe 100%)}.single-roadmap-alt.pri-sec:after{border-color:#16a3fe}.single-roadmap-alt.pri-sec h5:before,.single-roadmap-alt.pri-sec h6:before{background:#16a3fe}.single-roadmap-alt.sec-prialt:before{background-image:linear-gradient(to right, #16a3fe 0%, #16a3fe 100%)}.single-roadmap-alt.sec-prialt:after{border-color:#16a3fe}.single-roadmap-alt.sec-prialt h5:before,.single-roadmap-alt.sec-prialt h6:before{background:#16a3fe}.single-roadmap-alt.prialt-pri:before{background-image:linear-gradient(to right, #16a3fe 0%, #41faa4 100%)}.single-roadmap-alt.prialt-pri:after{border-color:#41faa4}.single-roadmap-alt.prialt-pri h5:before,.single-roadmap-alt.prialt-pri h6:before{background:#41faa4}.single-roadmap-alt.pri-last:before{background-image:linear-gradient(to left, transparent 0%, #41faa4 50%, #41faa4 100%)}.single-roadmap-alt h5:before,.single-roadmap-alt h6:before{background:#16a3fe}.team-member .team-title{color:orangered}.team-member .team-social li a{color:#16a3fe}.team-hex .team-info:before{background-image:-webkit- linear-gradient(to right, #16a3fe 0%, #41faa4 100%);background-image:linear-gradient(to right, #16a3fe 0%, #41faa4 100%)}.team-hex .team-title{color:#16a3fe}.team-described .team-title:after{background-image:-webkit- linear-gradient(to right, #16a3fe 0%, #41faa4 100%);background-image:linear-gradient(to right, #16a3fe 0%, #41faa4 100%)}.team-described .team-social li a{color:#16a3fe}.team-described .team-discription li:before{background:#41faa4}.team-circle .team-photo:before{background-image:linear-gradient(to top, #16a3fe 0%, #41faa4 100%)}.team-circle .team-title{color:#16a3fe}.skill-bar-percent{background-image:linear-gradient(to right, #16a3fe 0%, #16a3fe 100%)}.bg-team-exp.mfp-bg{background-image:linear-gradient(to right,black 0%, black 100%)}.contact-info li .fa{background-image:linear-gradient(to right, #16a3fe 0%, #41faa4 100%)}.contact-info-alt li .fa{background-image:linear-gradient(to right, orangered 0%, red 100%)}.form-message .input-field .input-line{border-bottom-color:orangered}.social li a:hover{background:#16a3fe}
.scrolloff {
    width: 280px;
    height: 250px;
}

/* top menu */
.contact-menu {
    border: 1px solid orangered;
    margin-left:10px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 6px;
}

.site-header .navbar-nav>li.contact-menu:last-child:not(.quote-btn) {
    margin-right: 10px;
}


@media only screen and (max-width: 991px) {
    .navbar .navbar-nav li.contact-menu a.nav-link {
        padding: 0 5px;
    }

    .site-header .navbar-nav>li.contact-menu:last-child:not(.quote-btn) {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar .navbar-nav li.contact-menu a.nav-link {
        padding: 0 7px;
    }
}

.navbar-nav>li.contact-menu:hover {
    background-color: orangered;
}

.navbar .navbar-nav>li.contact-menu>a.nav-link:hover {
    color: #333333;
}

.navbar .navbar-nav>li>a.nav-link{
    padding-top:0;
    padding-bottom:0;
}

/* scroll  */
.site-header .scroll-down {
    font-size: 14px;
    background-color: transparent;
    color: white;
    padding: 10px;
}

.section-pad.nopb {
    padding-bottom: 100px;
}

/* expertise icon */
.expertise-icon {
    font-size:3em;
    color:orangered;
    text-align: center;
    margin-top: 50px;
}

.partner-image {
    max-height:180px;
    max-width: 180px;
}

/* team linkedin  */
.team-member .team-social li a:hover {
    color: #16a3fe;
}

/* footer image */
.footer-logo {
    width: 180px;
    margin-left: -10px;
}


/* landing background  */
@media (min-width: 769px) {
.io-azure .banner {
    /*background: url("../images/header-overlay.png") 0 0 no-repeat,url("../../images/header-background.jpg") 0 0 no-repeat;*/
    background: url("../../images/header-background.jpg") 0% 0% no-repeat;
    background-size: cover;
}
}
@media (max-width: 768px) {
.io-azure .banner {
  background: url('../../images/header-background-small.jpg') 25% 25% no-repeat;
    background-size: cover;
  }
}

/* scroll to top button */
#scrollTopBtn {
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: orangered;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}

#scrollTopBtn:hover {
    background-color: #555;
}


@media screen and (min-width: 1600px) {
    .section-pad {
        padding-top:125px;
        padding-bottom:125px;
    }
}

.read-more {
    float: right;
    padding-right: 0.5rem;
    font-size: 0.7rem;
    font-style: italic;
}

.alert-success {
    color: #ffffff;
    background-color: #fb5502;
    border-color: orangered;
}

a.email {
    color: #333333;
} 
/*! END */
