.btn-default {
    background-color: #3b83c5;
    color: white;
    font-weight: bold;
    border-color: transparent;
}

.login.well {
    width: 20%;
    min-width: 240px;
}

.well {
    min-height: 240px;
    background-color: transparent;
    border-color: transparent;
}

#bank-transfer-form label {
    width: 100%;
    text-align: left;
}

body {
    background-image: url("../image/fincova-demo-page-bg.jpg");
    background-size: 100%;
    color: white;
    font-family: Superclarendon, serif;
    font-size: medium;
}

a {
  color : white !important;
  font-weight: bold;
}

h4 {
    font-family: Superclarendon, serif;
    font-size: large;
    min-width: 240px;
}
