<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".enumavr" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dae" mimeType="text/xml" />
      <mimeMap fileExtension=".gdae" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
