
html, body {
    height: 100%;
}

body {
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    margin-left: 20px;
}

.leftpanel {
    margin: 0px;
    float:left;
    width:50%;
    height:100vh;
}

.rightpanel {
    margin: 0px;
    float:left;
    width:50%;
    height:100vh;
}

#fmtable {
    padding: 15px;
    height:90vh;
    overflow: auto;
}

#fmtable td {
    font-size: 11px;
    border: 1px dotted grey;
    padding: 5px;
}

.fmrow {
    cursor: pointer;
}

.fmrow:hover td {
    background-color: #0c4677;
    color: white;
}
